In [1]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='Celebal',
                                         user='root',
                                         password='kanik1234@')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        
        
        """
        Create Database 
        """
        query = """
                   Create table if not exists student(
                                                       s_id int not null auto_increment primary key,
                                                       s_name varchar(30) not null,
                                                       s_phone_number varchar(15) not null,
                                                       s_adhar_number int not null,
                                                       s_address varchar(256) ,
                                                       s_father_name varchar(30),
                                                       s_mother_name varchar(30)
                                                     )
                """

        cursor = connection.cursor()
        que = cursor.execute(query)
        if que :
            print("Table is not created")
           
        else :
            print("Table is created")
            
        """
        1. Create table and insert data into table :
        """
        
        query_1 = """
                      Insert into  student (s_id,s_name,s_phone_number,s_adhar_number,s_address,s_father_name,s_mother_name)
                      Values (1,'Ram Sharma','7777777777',1234567890,'jaipur','Mr.x','Ms.y'),
                             (2,'Jay kumar','8888888888',1234657890,'jaipur','Mr.y','Ms.x'),
                             (3,'Raghav jain','9999999999',1235467890,'jaipur','Mr.z','Ms.s')
                   """
        que_1 = cursor.execute(query_1)
        
        
        """
        2. Read data from table :
        """

        query_2 = """
                   Select * from student
                  """

        que_2 = cursor.execute(query_2)
        if que_2:
            print("No Data")
        else :
            print("Data is present in table and data : \n")
            que_3 = cursor.fetchall()
            for x in que_3:
                print(x)
                
        """
        3. Update the data :
        """
        
        query_4 = """
                      Update student set s_address = 'Ajmer' 
                      where s_address = 'jaipur'
                  """
        que_4 = cursor.execute(query_4)
        
        if que_4:
            print('Not Possible')
        else :
            print('Updated')
        
        
        
        """
        4. Delete Data :
        """
        
        query_6 = """
                      Delete from student 
                      where s_father_name = 'Mr.y'
                  """
        que_6 = cursor.execute(query_6)
        
        if que_6:
            print('In student table there is no father naame is Mr.y')
        else :
            print('Deleted the row where father_name is Mr.y')
        

        
        
        
        
        connection.commit()
        
except Error as e:
    print("Error while connecting to MySQL", e)
    

finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  5.5.5-10.4.13-MariaDB-1:10.4.13+maria~focal-log
You're connected to database:  ('Celebal',)
Table is created
Data is present in table and data :

(1, 'Ram Sharma', '7777777777', 1234567890, 'jaipur', 'Mr.x', 'Ms.y')
(2, 'Jay kumar', '8888888888', 1234657890, 'jaipur', 'Mr.y', 'Ms.x')
(3, 'Raghav jain', '9999999999', 1235467890, 'jaipur', 'Mr.z', 'Ms.s')
Updated
Deleted the row where father_name is Mr.y
MySQL connection is closed